@mixin roundtap($colour:#fff,$radius:1em){
	border: 3px $colour solid;
	border-radius: $radius;
	padding: 5px;
}
@mixin textshadow(){
	text-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
}
@mixin boxshadow(){
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.7);
}

@mixin kill_boxshadow(){
	box-shadow: none;
}

@mixin bottomCenter($bottomMargin:1.5em){
	position:absolute;
    bottom: $bottomMargin;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
}
@mixin easyinput(){
	width: 85%;
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
    border: 1px $paleBlue solid;
    line-height: 150%;
    color: $blue;
    // padding: 0.3em;    
}

@mixin easysubmit($width:85%, $colour:$darkBlue){
	border: none;
	border-radius: 0.2em;;
	background: $colour !important;
	color:#fff;
	width: $width;
	padding: 0.3em;
}

@mixin easyPlaceholder($color:$blue){
	
	color:    $color;
    opacity:  0.6;
    padding-left: 0.5em;
}